
.earth {
    width: 250px;
    height: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  }
  
  .earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .earth > div {
    width: 200%;
    height: 100%;
    animation: spin 20s linear alternate infinite;
    background: url(https://www.futuribles.com/media/base/main/PopulationMonde2.jpg);
    
    background-size: cover;
  }

  
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:aliceblue;
    
  }  
  body{
      font-family: 'Rammetto One', cursive;
      background-color: rgba(248, 243, 243, 0.123);
      color: black;
      background-image:url(/world_population/img/photo-1537147347432-676815edd56c.jpg);
  }

  .welcome{
    position : fixed;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100%;
    
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;


  }

  .welcome.display-none{
    position : fixed;
    opacity: 0;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100%;
    background-color: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;


  }

  button {
    width: 100px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 2px;
    color: black;
  }
  
  button:hover,
  button:focus {
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    background-color: whitesmoke;
    color: black;
  }